text {
    font-family: sans-serif;
    font-size: 12px;
    pointer-events: none;
}

g.arc path:hover {
    fill: orange;
}

g path{
    fill: #274773;
}

g:nth-child(2n) path{
    fill: #BC3E3E;
}

g.arc.arc1 path{
    fill: #888;
}


.psd3Tooltip {
    position: absolute;
    max-width: 150px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.psd3Hidden {
    display: none;
}

.psd3Tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.rotated {
    transform: rotate(45deg);
}

#pie_svg {
    display: inline-block;
    transition: all 0.5s;
    -moz-transition: all 0.5s ease-out;
}