#pie_with_legend {
    display: flex;
    margin-left: 100px;
}

#csv_file {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
}

#csv_file input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#legend {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: flex-start;
    margin-left: 210px;
}

#legend td, #legend th {
    border: 1px solid #ddd;
    padding: 15px;
}

#legend tr:nth-child(even) {
    background-color: #f2f2f2;
}

#legend tr:hover {
    background-color: #ddd;
}

#legend th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #BC3E3E;
    color: white;
    font-size: 25px;
}

#input_info {
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
    color: #888;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

@font-face {
    font-family: 'BentonSans', sans-serif;
    src: url("BentonSansLightRegular.otf") format("opentype");
    font-weight: 300;
}

body, html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

main {
    padding: 40px 60px;
}

header {
    margin-bottom: 20px;
}
h1 {
    color: #282C35;
    font-weight: 300;
    margin-bottom: 5px;
}
p {
    margin-top: 0;
    font-style: italic;
    color: #363A43;
}


.heatmap {}
.day-label,
.hour-label {
    fill: #666A73;
}


/*g.row g.cell:nth-child(2n){*/
    /*fill: rgba(244, 244, 244, 0.79) !important;*/
/*}*/

/*g.row g.cell{*/
    /*fill: rgba(199, 199, 199, 0.79) !important;*/
/*}*/

g.labels text {
    font-family: monospace;
    font-size: 14px;
    pointer-events: none;
    font-weight: bold;
}

#chart_with_matrix{
    display: flex;
}

#container{
    align-self: flex-end;
}

#chart svg{
    margin-top: 10px;
}

#description {
    padding: 14px 0 0 0;
    font-size: 21px;
    font-weight: inherit;
    text-align: center;
    font-family: Arial;
    color: #888;
}

#about_chart {
    padding: 25px 5px 0 25px;
    font-size: 17px;
    font-weight: inherit;
    font-family: Arial;
    color: #888;
}